{% extends "index.html" %}
{% block body %}

{% set form_name = form_name %}
{% set video_name = video_id %}

<h1> {{ form_name }} </h1>

<p><center><video controls=controls width=720 height=480>
	<source src="/static/videos/{{ video_name }}.mp4" type=video/mp4 />
	<source src="/static/videos/{{ video_name }}.webm" type=video/webm />
	<source src="/static/videos/{{ video_name }}.ogv" type=video/ogg />
	<object type=application/x-shockwave-flash data=http://releases.flowplayer.org/swf/flowplayer-3.2.1.swf width=720 height=480>
		<param name=movie value=http://releases.flowplayer.org/swf/flowplayer-3.2.1.swf />
		<param name=allowFullScreen value=true />
		<param name=wmode value=transparent />
		<param name=flashVars value=config={'url':'videos/{{video_name}}.flv','autoPlay':false} />
	</object>
</video></center></p>

{% endblock %}